<div class="row pt-3">
    <div class="col-lg-6 col-md-6">
        <h2>Customer List(100)</h2>
    </div>
    <div class="col-lg-6 col-md-6">
        <div class="row">
            <div class="col-lg-8 col-md-8">
                <app-search></app-search>
            </div>
            <div class="col-lg-4 col-md-4">
                <app-kmr-btn [label]="'+ Add Customer'" (action)="addCompany()"></app-kmr-btn>
            </div>
    </div>
    </div>
</div>
<div class="pt-3">
<app-table [tableHeaders]="tableHeaders" [tableValues]="tableValues" [fixedTableHeader]="fixedTableHeader" (delete)="delete()" (edit)="edit()"></app-table>
</div>