<div class="dialog-container">
    <div class="row">
        <div class="col-lg-12 closeAlign">
            <div class="head">
            <h1>{{dialogData ? 'Edit An Main Master': 'Create An Main Master'}}</h1>
        </div>
            <div>
                <button mat-icon-button mat-dialog-close tabindex="-1" class="close-button">
                    <mat-icon class="closeColor">close</mat-icon></button>
            </div>
        </div>
    </div>
    <div class="row" [formGroup]="mainCustomerForm">
        <div class="col-lg-6">
            <mat-form-field class="col-lg-12" >
                <label class="labelName">Name
                <input type="text" formControlName="name" matInput placeholder="Add Name">
            </label>
            <mat-error *ngIf="mainCustomerForm.get('name')?.errors?.['pattern']"><b>Only alphabets are allowed.</b></mat-error>
            <mat-error *ngIf="mainCustomerForm.get('name')?.hasError('required')">
                <b>Name is required</b>
            </mat-error> 
            </mat-form-field>
        </div>
       <div class="col-lg-6">
            <mat-form-field class="col-lg-12">
                <label class="labelName">Code
                <input type="text" formControlName="code" matInput placeholder="Add code">
            </label>
            <mat-error *ngIf="mainCustomerForm.get('code')?.hasError('required')">
                <b>Code is required</b>
            </mat-error> 
            </mat-form-field>
        </div>
        <div class="col-lg-6">
            <p class="labelName">Type</p>
            <mat-radio-group aria-label="Select an option" formControlName="type">
                <mat-radio-button value="1">Domestic</mat-radio-button>
                <mat-radio-button value="2">Export</mat-radio-button>
            </mat-radio-group>
        </div>
        <div class="col-lg-6">
            <mat-form-field class="col-lg-12">
                <label class="Add main Customer">Country</label>
                <mat-select placeholder="Select Country" formControlName="country">
                    <mat-option>India</mat-option>
                    <mat-option>USA</mat-option>
                    <mat-option>UK</mat-option>
                    <mat-option>Singapore</mat-option>
                    <mat-option>Malaysia</mat-option>
                </mat-select>
                <mat-error *ngIf="mainCustomerForm.get('country')?.hasError('required')">
                    <b> Country is required</b>
                </mat-error> 
            </mat-form-field>
        </div>
    </div>
    <div class="row m-0 p-0">
        <div class="btnAlign">
        <app-kmr-btn mat-dialog-close [label]="'Cancel'" [bgColor]="'#F2F4F6'" [color]="'black'"></app-kmr-btn>
        <app-kmr-btn [label]="'Save'" (action)="save()"></app-kmr-btn>
    </div>
    </div>
</div>