<div class="layout">
    <div class="dash-container col-lg-4">
      <i class="far fa-house"></i>
      <div class="left">
      </div>
      <table class="table">
        <tr>
            <th>Company</th>
            <th>Contact</th>
          </tr>
          <tr>
            <td>Centro comercial Moctezuma</td>
            <td>Francisco Chang</td>
          </tr>
          <tr>
            <td>Ernst Handel</td>
            <td>Roland Mendel</td>
          </tr>
      </table>
    </div>
  </div>