<div class="dialog-container">
    <div class="row">
        <div class="col-lg-12 closeAlign">
            <div class="head">
                <h1>{{dialogData ? 'Edit An User': 'Create An User'}}</h1>
            </div>
            <div>
                <button mat-icon-button mat-dialog-close tabindex="-1" class="close-button">
                    <mat-icon class="closeColor">close</mat-icon></button>
            </div>
        </div>
    </div>
    <div class="row" [formGroup]="userForm">
        <div class="col-lg-6">
            <mat-form-field class="col-lg-12">
                <label class="labelName">User Name
                    <input type="text" formControlName="userName" matInput placeholder="Add User Name">
                </label>
                <mat-error *ngIf="userForm.get('userName')?.hasError('required')">
                    <b> User name is required</b>
                </mat-error>
                <mat-error *ngIf="userForm.get('userName')?.errors?.['pattern']"><b>Only alphabets are allowed.</b></mat-error>
            </mat-form-field>
        </div>
        <div class="col-lg-6">
            <mat-form-field class="col-lg-12">
                <label class="labelName">Full Name
                    <input type="text" formControlName="fullName" matInput placeholder="Add full name">
                </label>
                <mat-error *ngIf="userForm.get('fullName')?.hasError('required')">
                    <b> Full name is required</b>
                </mat-error>
                <mat-error *ngIf="userForm.get('fullName')?.errors?.['pattern']"><b>Only alphabets are allowed.</b></mat-error>   
            </mat-form-field>
        </div>
        <div class="col-lg-6">
            <mat-form-field class="col-lg-12">
                <label class="labelName">Location</label>
                <mat-select placeholder="Select location" formControlName="location">
                    <mat-option *ngFor="let location of locations" [value]="location.value">
                        {{ location.label}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="userForm.get('location')?.hasError('required')">
                    <b> Location is required</b>
                </mat-error>
            </mat-form-field>
        </div>
        <div class="col-lg-6">
            <mat-form-field class="col-lg-12">
                <label class="labelName">Department Name</label>
                <mat-select placeholder="Select Department" formControlName="departmentId">
                    <mat-option *ngFor="let department of departments" [value]="department.id">
                        {{ department.departmentName}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="userForm.get('departmentName')?.hasError('required')">
                    <b> Department name is required</b>
                </mat-error>
            </mat-form-field>
        </div>
        <div class="col-lg-6">
            <mat-form-field class="col-lg-12">
                <label class="labelName">Mobile Number
                    <input type="text" formControlName="mobileNumber" matInput placeholder="Add mobile number">
                </label>
                <mat-error *ngIf="userForm.get('mobileNumber')?.hasError('required')">
                    <b> Mobile number is required</b>
                </mat-error>
                <mat-error *ngIf="userForm.get('mobileNumber')?.errors?.['pattern']"><b>Invalid mobile number
                    format.</b></mat-error>
            </mat-form-field>
        </div>
        <div class="col-lg-6">
            <mat-form-field class="col-lg-12">
                <label class="labelName">Email
                    <input type="text" formControlName="email" matInput placeholder="Add email">
                </label>
                    <mat-error
                    *ngIf="userForm.get('email')?.hasError('email') && !userForm.get('email')?.hasError('required')">
                  <b> Please enter a valid email address</b> 
                </mat-error>
                <mat-error *ngIf="userForm.get('email')?.hasError('required')">
                    <b> Email is required</b>
                </mat-error>
            </mat-form-field>
        </div>
        <ng-container *ngIf="!dialogData">
        <div class="col-lg-6">
            <mat-form-field class="col-lg-12">
                <label class="labelName">Password
                    <input type="password" formControlName="password" matInput placeholder="Add Password" (input)="checkPassword()">
                </label>
                <mat-error *ngIf="userForm.get('password')?.hasError('required')">
                    <b> Password is required</b>
                </mat-error>
            </mat-form-field>
        </div>
        <div class="col-lg-6">
            <mat-form-field class="col-lg-12">
                <label class="labelName">Re-Type Password
                    <input type="password" formControlName="retypePassword" matInput placeholder="Add re-type password" (input)="checkPassword()">
                </label>
                <mat-error *ngIf="userForm.get('retypePassword')?.hasError('required')">
                    <b> Re-Type Password is required</b>
                </mat-error>
                <mat-error *ngIf="userForm.get('retypePassword')?.errors?.['passwordMismatch'] && userForm.get('retypePassword')?.touched">
                   <b>Passwords do not match</b> 
                  </mat-error>
            </mat-form-field>
        </div>
    </ng-container>
        <div class="col-lg-6">
            <mat-form-field class="col-lg-12">
                <label class="labelName">Role</label>
                <mat-select placeholder="Select role" formControlName="roleId">
                    <mat-option *ngFor="let role of roles" [value]="role.id">
                        {{ role.name}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="userForm.get('roleId')?.hasError('required')">
                    <b> Role is required</b>
                </mat-error>
            </mat-form-field>
        </div>
        <div class="col-lg-6">
            <mat-form-field class="col-lg-12">
                <label class="labelName">Sales Lead Name
                    <input type="text" formControlName="salesLeadName" matInput placeholder="Add sales lead name">
                </label>
                <!-- <mat-error *ngIf="userForm.get('salesLeadName')?.hasError('required')">
                    <b> Sales lead name is required</b>
                </mat-error> -->
            </mat-form-field>
        </div>
    </div>
    <div class="row m-0 p-0">
        <div class="btnAlign">
            <app-kmr-btn mat-dialog-close [label]="'Cancel'" [bgColor]="'#F2F4F6'" [color]="'black'"></app-kmr-btn>
            <app-kmr-btn [label]="'Save'" (action)="save(dialogData ? true : false)"></app-kmr-btn>
        </div>
    </div>
</div>