<div class="dialog-container">
    <div class="row">
        <div class="col-lg-12 closeAlign">
            <div class="head">
                <h1>{{dialogData ? 'Edit An Role': 'Create An Role'}}</h1>
            </div>
            <div>
                <button mat-icon-button mat-dialog-close tabindex="-1" class="close-button">
                    <mat-icon class="closeColor">close</mat-icon></button>
            </div>
        </div>
    </div>
    <div class="row" [formGroup]="roleForm">
        <div class="col-lg-6">
            <mat-form-field class="col-lg-12">
                <label class="labelName">Role Name
                    <input type="text" formControlName="name" matInput placeholder="Add role">
                </label>
                <mat-error *ngIf="roleForm.get('name')?.hasError('required')">
                    <b> Role name is required</b>
                </mat-error>
                <mat-error *ngIf="roleForm.get('name')?.errors?.['pattern']"><b>Only alphabets are
                        allowed.</b></mat-error>
            </mat-form-field>
        </div>
        <div class="col-lg-6">
            <mat-form-field class="col-lg-12">
                <label class="labelName">Description
                    <input type="text" formControlName="description" matInput placeholder="Add description">
                </label>
                <mat-error *ngIf="roleForm.get('description')?.hasError('required')">
                    <b> Description is required</b>
                </mat-error>
            </mat-form-field>
        </div>
        <div class="col-lg-12" formArrayName="menuItems">
            <p class="labelName mb-0">Menu Name</p>
            <!-- <mat-checkbox *ngFor="let menu of menus; let i = index"  [checked]="menu.checked" [formControlName]="i" >
                {{ menu.name }}
              </mat-checkbox> -->
            <!-- <ng-container *ngFor="let menu of menus; let i = index"> -->
                <app-custom-check-box [menus]="menus" (selectedMenu)="selectedMenu($event,'')"></app-custom-check-box>
            <!-- </ng-container> -->
        </div>
    </div>
    <div class="row m-0 p-0">
        <div class="btnAlign">
            <app-kmr-btn mat-dialog-close [label]="'Cancel'" [bgColor]="'#F2F4F6'" [color]="'black'"></app-kmr-btn>
            <app-kmr-btn [label]="'Save'" (action)="save(dialogData ? true : false)"></app-kmr-btn>
        </div>
    </div>
</div>