<div class="wrapper">
    <table class="table-scores">
        <thead>
            <tr>
                <th>
                    <div class="label">{{fixedTableHeader.name}}</div>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let value of tableValues">
                <td>
                    <div class="label">{{value.companyName}}</div>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="table-data-wrapper">
        <table class="table-data">
            <thead>
                <tr  cdkDropList cdkDropListOrientation="horizontal" [cdkDropListData]="tableHeaders" (cdkDragReleased)="release=true"
                (cdkDropListDropped)="dropCol($event)">
                    <th *ngFor="let header of tableHeaders" cdkDrag (mousedown)="mouseDown($event)" cdkDragLockAxis="x"
                    (cdkDragReleased)="release=true">
                        <div class="label">{{header.name}} <i *ngIf="header.sort" class="fas fa-sort"></i></div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let value of tableValues">
                    <tr>
                        <ng-container *ngFor="let key of tableHeaders">
                            <td>
                                <i class="fas fa-check-circle" *ngIf="key.role"></i>
                                <!-- <i class="fas fa-times-circle" *ngIf="!key.role"></i> -->
                                <div class="score-value" [style.color]="handleStatusColor(value[key.key])"> {{
                                    value[key.key]}} </div>
                                <div class="score-value" *ngIf="key.edit"> <i class="fas fa-edit" (click)="edit.emit()"></i> <i
                                        class="fas fa-trash-alt ml" (click)="delete.emit()"></i> </div>

                            </td>
                        </ng-container>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>
</div>
<mat-paginator #paginator class="demo-paginator" (page)="handlePageEvent($event)" [length]="length"
    [pageSize]="pageSize" [disabled]="disabled" [showFirstLastButtons]="showFirstLastButtons"
    [hidePageSize]="hidePageSize" [pageIndex]="pageIndex" aria-label="Select page">
</mat-paginator>