<div class="wrapper">
    <table class="table-scores">
        <thead>
            <tr>
                <th>
                    <div class="label">{{fixedTableHeader.name}} <i class="fas fa-sort"></i></div>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let value of tableValues">
                <td>
                    <div class="label">{{value.companyName}}</div>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="table-data-wrapper">
        <table class="table-data">
            <thead>
                <tr>
                    <th *ngFor="let header of tableHeaders">
                        <div class="label">{{header.name}} <i class="fas fa-sort"></i>  </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let value of tableValues">
                    <tr>
                        <ng-container *ngFor="let key of tableHeaders">
                            <td>
                                <div class="score-value" [style.color]="handleStatusColor(value[key.key])"> {{ value[key.key]}} </div>
                            </td>
                        </ng-container>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>
</div>
<mat-paginator #paginator class="demo-paginator" (page)="handlePageEvent($event)" [length]="length"
    [pageSize]="pageSize" [disabled]="disabled" [showFirstLastButtons]="showFirstLastButtons"
    [hidePageSize]="hidePageSize" [pageIndex]="pageIndex" aria-label="Select page">
</mat-paginator>