<div class="dash-container">
    <div class="col-lg-12">
        <div class="head">
            <h2>Sales Analytics</h2>
        </div>
    </div>
    <div id="root">
        <div class="container">
            <div class="row align-items-stretch">
                <div class="c-dashboardInfo col-lg-3 col-md-6">
                    <div class="wrap">
                        <h4 class="heading heading5 hind-font medium-font-weight c-dashboardInfo__title"> Total Orders
                            <svg class="MuiSvgIcon-root-19" focusable="false" viewBox="0 0 24 24"
                                aria-hidden="true" role="presentation">
                                <path fill="none" d="M0 0h24v24H0z"></path>
                                <path
                                    d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-6h2v6zm0-8h-2V7h2v2z">
                                </path>
                            </svg></h4><span class="hind-font caption-12 c-dashboardInfo__count">10,500</span>
                    </div>
                </div>
                <div class="c-dashboardInfo col-lg-3 col-md-6">
                    <div class="wrap">
                        <h4 class="heading heading5 hind-font medium-font-weight c-dashboardInfo__title">Total Products
                            <svg class="MuiSvgIcon-root-19" focusable="false" viewBox="0 0 24 24"
                                aria-hidden="true" role="presentation">
                                <path fill="none" d="M0 0h24v24H0z"></path>
                                <path
                                    d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-6h2v6zm0-8h-2V7h2v2z">
                                </path>
                            </svg></h4><span class="hind-font caption-12 c-dashboardInfo__count">50</span>
                        <!-- <span
              class="hind-font caption-12 c-dashboardInfo__subInfo">Last month: €30</span> -->
                    </div>
                </div>
                <div class="c-dashboardInfo col-lg-3 col-md-6">
                    <div class="wrap">
                        <h4 class="heading heading5 hind-font medium-font-weight c-dashboardInfo__title">Available
                            Stocks<svg class="MuiSvgIcon-root-19" focusable="false" viewBox="0 0 24 24"
                                aria-hidden="true" role="presentation">
                                <path fill="none" d="M0 0h24v24H0z"></path>
                                <path
                                    d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-6h2v6zm0-8h-2V7h2v2z">
                                </path>
                            </svg></h4><span class="hind-font caption-12 c-dashboardInfo__count">5000</span>
                    </div>
                </div>
                <div class="c-dashboardInfo col-lg-3 col-md-6">
                    <div class="wrap">
                        <h4 class="heading heading5 hind-font medium-font-weight c-dashboardInfo__title"> Total Customers
                            <svg class="MuiSvgIcon-root-19" focusable="false" viewBox="0 0 24 24"
                                aria-hidden="true" role="presentation">
                                <path fill="none" d="M0 0h24v24H0z"></path>
                                <path
                                    d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-6h2v6zm0-8h-2V7h2v2z">
                                </path>
                            </svg></h4><span class="hind-font caption-12 c-dashboardInfo__count">640</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <app-area-chart></app-area-chart>
        </div>
        <div class="col-lg-6">
            <app-bar-chart></app-bar-chart>
        </div>
        <!-- <div class="col-lg-3">
            <div class="card">
                <p class="sub-head">Summary</p>
                <p> <span class="label">Open Orders:</span> <span class="value">200</span></p>
                <p></p>
            </div>
        </div> -->
    </div>
    <div class="row mt-3">
        <div class="col-lg-3">
            <app-pie-chart></app-pie-chart>
        </div>
        <div class="col-lg-9">
            <app-kmr-table></app-kmr-table>
        </div>
    </div>
</div>