
  .control {
    display: inline-flex;
    position: relative;
    margin: 5px;
    cursor: pointer;
    border-radius: 99em;
    width: 100%;
    box-shadow:rgba(0, 0, 0, 0.24) 0px 1px 4px;;
    input {
      position: absolute;
      opacity: 0;
      z-index: -1;
    }
    
    svg {
      margin-right: 6px;
      border-radius: 50%;
      box-shadow: 3px 3px 16px rgba(0, 0, 0, 0.2);
    }
  }
  
  .control__content {
    display: inline-flex;
    align-items: center;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 32px;
    color: rgba(0, 0, 0, 0.54);
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 99em;
    width: 100% !important;
    
    .control:hover & {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }
  
  .control input:focus ~ .control__content {
    box-shadow: 0 0 0 0.25rem rgba(13, 107, 202, 0.2);
    background-color: rgba(0, 0, 0, 0.1);
  }
  
  .control input:checked ~ .control__content {
    background-color: var(--primary);
    color: white;
    .menu-icon{
    background-color: var(--active-bg);

    }
  }

  .menu-icon{
    background-color: var(--primary);
    border-radius: 50%;
  }
  .menu-color{
    color: white;
    padding: 10px;
  }

  .fa-fw {
    width: unset;
  }

  .menuName{
    white-space: nowrap;
  }