.footerBg {
    background: white;
    width: 100%;
    height: 3vh;
}

.footerText {
    font-size: 12px;
}

.companyName {
    color: var(--primary-color);
}

@media (max-width: 575.98px) {
    .footerBg {
        height: 2vh;
    }
}