<div class="main-container">
      <table class="rwd-table">
  <p class="para">Stock List</p>
        <tbody>
          <tr>
            <th>Product</th>
            <th>Count</th>
            <th>Status</th>
            <th>Location</th>
          </tr>
          <tr>
            <td data-th="Supplier Code">
              Rope
            </td>
            <td data-th="Supplier Name">
              100
            </td>
            <td data-th="Invoice Number" class="colorGreen">
              Instock
            </td>
            <td>Nagercoil</td>
          </tr>
          <tr>
            <td data-th="Supplier Code">
              Twine
            </td>
            <td data-th="Supplier Name">
              10
            </td>
            <td data-th="Invoice Number" class="colorRed">
              Out of stock
            </td>
            <td>Nagercoil</td>
          </tr>
          <tr>
            <td data-th="Supplier Code">
              Fish net
            </td>
            <td data-th="Supplier Name">
              50
            </td>
            <td data-th="Invoice Number" class="colorGreen">
             Instock
            </td>
            <td>Nagercoil</td>
          </tr>
        </tbody>
      </table>
    </div>