<div class="dialog-container">
    <div class="row">
        <div class="col-lg-12 closeAlign">
            <div class="head">
            <h1>Create an company master</h1>
        </div>
            <div>
                <button mat-icon-button mat-dialog-close tabindex="-1" class="close-button">
                    <mat-icon class="closeColor">close</mat-icon></button>
            </div>
        </div>
    </div>
    <div class="row scrollSet">
        <div class="col-lg-6">
            <mat-form-field class="col-lg-12" >
                <label class="labelName">Company Name</label>
                <input type="text" matInput placeholder="Add company Name">
            </mat-form-field>
        </div>
        <div class="col-lg-6">
            <mat-form-field class="col-lg-12" >
                <label class="labelName">Location Name</label>
                <input type="text" matInput placeholder="Add location Name">
            </mat-form-field>
        </div>
        <div class="col-lg-6">
            <mat-form-field class="col-lg-12">
                <label class="labelName">Code</label>
                <input type="text" matInput placeholder="Add code">
            </mat-form-field>
        </div>
        <div class="col-lg-6">
            <mat-form-field class="col-lg-12">
                <label class="labelName">Company's VAT TIN</label>
                <input type="text" matInput placeholder="Add Company's VAT TIN">
            </mat-form-field>
        </div>
        <div class="col-lg-6">
            <mat-form-field class="col-lg-12">
                <label class="labelName">Company's CST No</label>
                <input type="text" matInput placeholder="Add company's cst no">
            </mat-form-field>
        </div>
        <div class="col-lg-6">
            <mat-form-field class="col-lg-12">
                <label class="labelName">Company's PAN</label>
                <input type="text" matInput placeholder="Add company's pan">
            </mat-form-field>
        </div>
        <div class="col-lg-6">
            <mat-form-field class="col-lg-12">
                <label class="labelName">Account Year</label>
                <input type="text" matInput placeholder="Add account year">
            </mat-form-field>
        </div>
        <div class="col-lg-6">
            <mat-form-field class="col-lg-12">
                <label class="labelName">GSTIN</label>
                <input type="text" matInput placeholder="Add gstini">
            </mat-form-field>
        </div>
        <div class="col-lg-6">
            <mat-form-field class="col-lg-12">
                <label class="labelName">Email Address</label>
                <input type="text" matInput placeholder="Add email">
            </mat-form-field>
        </div>
        <div class="col-lg-6">
            <mat-form-field class="col-lg-12">
                <label class="labelName">Mobile No</label>
                <input type="text" matInput placeholder="Add mobile no">
            </mat-form-field>
        </div>
        <div class="col-lg-6">
            <mat-form-field class="col-lg-12">
                <label class="labelName">Reference Number</label>
                <input type="text" matInput placeholder="Add reference number">
            </mat-form-field>
        </div>
        <div class="col-lg-12">
            <mat-form-field class="col-lg-12">
                <label class="labelName">Address</label>
                <textarea matInput placeholder="Add address"></textarea>
              </mat-form-field>
        </div>
    </div>
    <div class="row m-0 p-0">
        <div class="btnAlign">
        <app-kmr-btn mat-dialog-close [label]="'Cancel'" [bgColor]="'#F2F4F6'" [color]="'black'"></app-kmr-btn>
        <app-kmr-btn [label]="'Save'"></app-kmr-btn>
    </div>
    </div>
</div>