<div class="dialog-container">
    <div class="row">
        <div class="col-lg-12 closeAlign">
            <div class="head">
                <h1>{{dialogData ? 'Edit An Brand Master': 'Create An Brand Master'}}</h1>
            </div>
            <div>
                <button mat-icon-button mat-dialog-close tabindex="-1" class="close-button">
                    <mat-icon class="closeColor">close</mat-icon></button>
            </div>
        </div>
    </div>
    <div class="row" [formGroup]="brandForm">
        <div class="col-lg-6">
            <mat-form-field class="col-lg-12">
                <label class="labelName">Raw Material Type</label>
                <mat-select placeholder="Select raw material type" formControlName="rawMaterialTypeId">
                    <mat-option *ngFor="let rawMaterial of rawMaterialTypes" [value]="rawMaterial.id">
                        {{ rawMaterial.name }}
                      </mat-option>
                </mat-select>
                <mat-error *ngIf="brandForm.get('rawMaterialTypeId')?.hasError('required')">
                    <b> Raw material type is required</b>
                </mat-error>
            </mat-form-field>
        </div>
        <div class="col-lg-6">
            <mat-form-field class="col-lg-12">
                <label class="labelName">Brand Name
                    <input type="text" formControlName="name" matInput placeholder="Add brand name">
                </label>
                <mat-error *ngIf="brandForm.get('name')?.hasError('required')">
                    <b> Brand name is required</b>
                </mat-error>
                <mat-error *ngIf="brandForm.get('name')?.errors?.['pattern']"><b>Only alphabets are
                        allowed.</b></mat-error>
            </mat-form-field>
        </div>
        <div class="col-lg-6">
            <mat-form-field class="col-lg-12">
                <label class="labelName"> Brand Priority Order
                    <input type="text" formControlName="brandPriorityOrder" matInput placeholder="Add brand priority order">
                </label>
                <mat-error *ngIf="brandForm.get('brandPriorityOrder')?.hasError('required')">
                    <b>  Brand priority order is required</b>
                </mat-error>
            </mat-form-field>
        </div>
    </div>
    <div class="row m-0 p-0">
        <div class="btnAlign">
            <app-kmr-btn mat-dialog-close [label]="'Cancel'" [bgColor]="'#F2F4F6'" [color]="'black'"></app-kmr-btn>
            <app-kmr-btn [label]="'Save'" (action)="save(dialogData ? true : false)"></app-kmr-btn>
        </div>
    </div>
</div>