/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
:root {
    --primary:#5c46dc;
    --secondary:#000000;
    --font-primary-color:#b0b4bf;
    --bg:#5c46dc;
    --main-bg :#f1effa;
    --active:#f6f5fd;
    --active-bg:#8e79f1;
    --card-line-height: 1.2em;
    --card-padding: 1em;
    --card-radius: 0.5em;
    --color-green: #5c46dc;
    --color-gray: #e2ebf6;
    --color-dark-gray: #c4d1e1;
    --radio-border-width: 2px;
    --radio-size: 1.5em;
}

