/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
:root {
    --primary:#5c46dc;
    --secondary:#000000;
    --font-primary-color:#b0b4bf;
    --bg:#5c46dc;
    --main-bg :#f1effa;
    --active:#f6f5fd;
    --active-bg:#8e79f1;

}
