/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
:root {
    --primary:#6326f0;
    --secondary:#000000;
    --font-primary-color:#b0b4bf;
    --bg:#ffff;
    --main-bg:#f6f9fe;
}
