<div class="dialog-container">
    <div class="row">
        <div class="col-lg-12 closeAlign">
            <div class="head">
                <h1>{{dialogData ? 'Edit An Color': 'Create An Color'}}</h1>
            </div>
            <div>
                <button mat-icon-button mat-dialog-close tabindex="-1" class="close-button">
                    <mat-icon class="closeColor">close</mat-icon></button>
            </div>
        </div>
    </div>
    <div class="row" [formGroup]="colorForm">
        <div class="col-lg-6">
            <mat-form-field class="col-lg-12">
                <label class="labelName">Color Name
                    <input type="text" formControlName="colorName" matInput placeholder="Add color name">
                </label>
                <mat-error *ngIf="colorForm.get('colorName')?.hasError('required')">
                    <b> Color name is required</b>
                </mat-error>
                <mat-error *ngIf="colorForm.get('colorName')?.errors?.['pattern']"><b>Only alphabets are
                        allowed.</b></mat-error>
            </mat-form-field>
        </div>
        <div class="col-lg-6">
            <mat-form-field class="col-lg-12">
                <label class="labelName">Short Code
                    <input type="text" formControlName="shortCode" matInput placeholder="Add short code">
                </label>
                <mat-error *ngIf="colorForm.get('shortCode')?.hasError('required')">
                    <b> Short code is required</b>
                </mat-error>
            </mat-form-field>
        </div>
        <div class="col-lg-6">
            <mat-form-field class="col-lg-12">
                <label class="labelName">Matching Color</label>
                <mat-select placeholder="Select matching color" formControlName="matchingColor">
                    <mat-option value="Red">Red</mat-option>
                    <mat-option value="White">White</mat-option>
                </mat-select>
                <mat-error *ngIf="colorForm.get('matchingColor')?.hasError('required')">
                    <b> Matching color is required</b>
                </mat-error>
            </mat-form-field>
        </div>
        <div class="col-lg-12" formArrayName="applicableFor">
            <p class="labelName mb-0">Applicable For</p>
            <mat-checkbox *ngFor="let data of applicableFor; let i = index" [value]="data.name" [checked]="data.checked" [formControlName]="i" formControlName="applicableFor" (change)="selectedApplicable(data.name,$event)">
                {{ data.name }}
            </mat-checkbox>
        </div>
    </div>
    <div class="row m-0 p-0">
        <div class="btnAlign">
            <app-kmr-btn mat-dialog-close [label]="'Cancel'" [bgColor]="'#F2F4F6'" [color]="'black'"></app-kmr-btn>
            <app-kmr-btn [label]="'Save'" (action)="save(dialogData ? true : false)"></app-kmr-btn>
        </div>
    </div>
</div>